p {
  margin: 0px;
  position: absolute;
}
.first-box-container {
  width: 200px;
  height: 100px;
  background-color: red;
  position: relative;
}

.second-box-container {
  width: 200px;
  height: 100px;
  background-color: yellow;
  left: 250px;
  position: relative;
}

.third-box-container {
  width: 200px;
  height: 100px;
  left: 250px;
  background-color: green;
  position: relative;
}
